figure.effect-zoe {
    figcaption {
        top: auto;
        bottom: 0;
        padding: 1em;
        height: 3.75em;
        background: #fff;
        color: #3c4a50;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    h2 {
        float: left;
    }
    p.icon-links a {
        float: right;
        color: #3c4a50;
        font-size: 1.4em;
    }
    &:hover p.icon-links a {
        &:hover,
        &:focus {
            color: #252d31;
        }
    }
    p.description {
        position: absolute;
        bottom: 8em;
        padding: 2em;
        color: #fff;
        text-transform: none;
        font-size: 90%;
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
        -webkit-backface-visibility: hidden;
        /* Fix for Chrome 37.0.2062.120 (Mac) */
    }
    h2 {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
    }
    p.icon-links a {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
        span::before {
            display: inline-block;
            padding: 8px 10px;
            font-family: 'feathericons';
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

.icon-eye::before {
    content: '\e000';
}

.icon-paper-clip::before {
    content: '\e001';
}

.icon-heart::before {
    content: '\e024';
}

figure.effect-zoe {
    h2 {
        display: inline-block;
    }
    &:hover {
        p.description {
            opacity: 1;
        }
        figcaption,
        h2,
        p.icon-links a {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        h2 {
            -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
        }
        p.icon-links a {
            &:nth-child(3) {
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
            }
            &:nth-child(2) {
                -webkit-transition-delay: 0.15s;
                transition-delay: 0.15s;
            }
            &:first-child {
                -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }
        }
    }
}

@-webkit-keyframes mymove {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Standard syntax */

@keyframes mymove {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes bg-zoom {
    0% {
        background-size: 150%;
    }
    100% {
        background-size: 105%;
    }
}

/* Standard syntax */

@keyframes bg-zoom {
    0% {
        background-size: 150%;
    }
    100% {
        background-size: 105%;
    }
}
