.env
temp/
vendor/*

*.zip

application/logs/

assets/captcha/
assets/images/
assets/uploads/
assets/uploads/user_invoices/
assets/uploads/agent_company_logo/
assets/uploads/agent_img/

config/development/

*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

#codeigniter 3
application/logs/
!application/logs/index.html
!application/logs/.htaccess

development/
beta/

# Optimization test files
optimization_test.php

#application/config/database.php