temp/

*.zip

assets/uploads/user_invoices/
application/logs/
assets/captcha/
assets/images/*.jpg
assets/images/*.JPG
assets/images/*.png

assets/uploads/agent_company_logo/
assets/uploads/agent_img/

config/development/

*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

#codeigniter 3
application/logs/
!application/logs/index.html
!application/logs/.htaccess
/vendor/

development/
beta/