body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #231f20;
}
::selection {
  color: #fff;
  background: #ffd758;
  text-shadow: none;
}
* {
  box-sizing: border-box;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.d-flex:after {
  content: '';
  display: table;
  width: 100%;
  height: 100%;
}
.d-flex > * {
  float: left;
}
.p-0 {
  padding: 0 !important;
}
.col-60 {
  width: 60% !important;
}
.col-40 {
  width: 40% !important;
}
.mt-2 {
  margin-top: 5px !important;
}
.m-0 {
  margin: 0 !important;
}
.p-50 {
  padding: 30px 50px 20px !important;
}
page {
  position: relative;
  display: block;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  padding: 45px 50px;
  width: 816px;
  height: 1056px;
  margin: 0 auto;
}
.d-flex {
  margin-left: -20px;
  margin-right: -20px;
}
.d-flex [class*='col-'] {
  padding: 0 20px;
}
.d-flex.no_gutter {
  margin-left: 0;
  margin-right: 0;
}
.d-flex.no_gutter [class*='col-'] {
  padding: 0;
}
.w100 {
  width: 100%;
  object-fit: cover;
}
/* header */
.header {
  background: #000;
  /*text-align: center;*/
  color: #fff;
  padding: 30px 50px;
  position: relative;
}
.header h1 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4px;
}
.header h1 span {
  /*font-size: 10px;*/
  position: absolute;
  right: 50px;
  letter-spacing: 1px;
  /*top: 46%;*/
  white-space: nowrap;
}
.header .logo {
  position: absolute;
  left: 10px;
  top: 0;
  width: 210px;
  z-index: 9;
}
.hero {
  background: url(https://i.ibb.co/qN6xW7z/hero.png) no-repeat;
  background-size: cover;
  position: relative;
  height: 366px;
}
.hero_caption {
  position: absolute;
  bottom: 0;
  /*background: rgba(0, 0, 0, 0.4);*/
  /*padding: 25px 50px;*/
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  left: 0;
  right: 0;
}
.hero_caption p {
  margin: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
}
.hero_caption ul {
  list-style: none;
  margin: 0;
}
.hero_caption li.mb-2 {
  margin-bottom: 3px;
}
.hero_caption ul img {
  width: 15px;
  margin-right: 10px;
}
.hero_caption ul a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 16px;

}
.hero_caption ul a span {
  font-weight: 300;
}
.table_transparent th {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
.table_transparent tr {
  background: transparent !important;
}
.table_transparent td {
  padding: 9px 0;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}
.table_transparent td:not(:first-child),
.table_transparent th:not(:first-child) {
  text-align: center;
}
.table_transparent {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.market_update .footer {
  padding: 0 50px 10px;
  position: relative;
}

.auth {
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 1px;
}
.info_policy {
  font-size: 7px;
  opacity: 0.5;
  margin-top: 15px;
}
.signature + .logo .smaller_img {
  position: absolute;
  right: -15px;
  top: 0;
  /*top: 45%;
  transform: translate(0, -50%);*/
}
.signature + .logo .smaller_img img {
  /*width: 80px;*/
    max-height: 80px;
    width: auto;
}
.signature + .logo .smaller_img .copyright {
  margin-top: 2px;
  font-size: 7px;
}
.mr-90 {
  margin-right: 90px;
}
.signature {
  width: 200px;
  text-align: center;
  position: relative;
}
.profile_img {
  width: 100px;
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
  object-position: top;
}
.profile_name {
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
}
.profile_title {
  font-size: 13px;
}
.tel_number {
  display: block;
  font-family: 'Crimson Text', serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
}
.contact_info {
  display: block;
  text-decoration: none;
  font-size: 12px;
}
.contact_info b {
  font-weight: 600;
}
.first_line {
  font-family: 'Crimson Text', serif;
  font-size: 32px;
}
.address {
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  margin-top: 25px;
}
.visit_us {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 10px;
}
.visit_us a {
  color: inherit;
  text-decoration: none;
}
.licensed {
  font-size: 10px;
}
.copyright {
  font-size: 9px;
  text-align: right;
  /*margin-top: 15px;*/
  margin-bottom: 2px;
}
.logo_here {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  max-width: 150px;
  height: auto;
}
.footer {
  padding: 0 20px 40px;
}
.footer .more_info {
  font-size: 10px;
  /*opacity: 0.9;*/
  font-style: italic;
  font-weight: 500;
  margin-bottom: 20px;
}
.logo img {
  width: 120px;
  height: auto;
}
.logo {
  width: 30%;
}
.success_text {
  font-size: 20px;
}
.d-block {
  width: 100%;
  height: auto;
}
.horizontal_sign.signature {
  width: 500px;
  text-align: left;
  position: relative;
}
.horizontal_sign.signature > * {
  float: left;
}
.horizontal_sign > img {
  margin-right: 15px;
}
.horizontal_sign .tel_number,
.horizontal_sign .contact_info {
  color: inherit;
}
.signature + .logo {
  width: auto;
  flex: initial;
  position: absolute;
  right: 55px;
}
.signature + .logo img {
  width: 160px;
}
.signature + .logo img.mini_icon {
  width: 40px;
  position: absolute;
  right: -20px;
  bottom: -50px;
}
.orange_footer {
  background: #f2964a;
  color: #fff;
  padding: 18px 50px;
  /*display: flex;
  justify-content: space-between;*/
  font-size: 11px;
  letter-spacing: 1px;
}
.orange_footer a {
  color: inherit;
  letter-spacing: 0;
  text-decoration: none;
}
.qr-code-container {
  position: relative;
  bottom: 60px;
}