body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333;
}
::selection {
  color: #fff;
  background: #ffd758;
  text-shadow: none;
}
* {
  box-sizing: border-box;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.d-flex:after {
  content: '';
  display: table;
  width: 100%;
  height: 100%;
}
.d-flex > * {
  float: left;
}
.col-60 {
  width: 60% !important;
}
.col-40 {
  width: 40% !important;
}
.col-20 {
  width: 20% !important;
}
.col-50 {
  width: 50% !important;
}
.col-12 {
  width: 100% !important;
}
.space_between {
  justify-content: space-between;
}
.space_evenly {
  justify-content: space-evenly;
}
.text-center {
  text-align: center;
}
.mx-auto {
  display: block;
  margin: 0 auto;
}
.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-35 {
  margin-top: 35px;
}
.my-20 {
  margin: 25px 0;
}
.mt-170 {
  margin-top: 193px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.f14 {
  font-size: 14px;
  text-align: justify;
}
ul.f14 {
  padding: 0;
  list-style: none;
  margin-top: 5px;
  margin-bottom: 10px;
}
ul.f14 li {
  padding-left: 24px;
  position: relative;
  line-height: 22px;
  margin-bottom: 3px;
}
ul.f14 li:before {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #444;
  position: absolute;
  left: 0;
  top: 8px;
}
.web_design {
  width: 117%;
  margin-left: -40px;
}
.w100 {
  width: 100%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.main_title {
  font-size: 36px;
  line-height: 48px;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  position: relative;
}
.top_title {
  margin: 0;
}
.bordered_img {
  width: 90%;
  height: 60px;
  margin: -10px 0 -10px -20%;
}
.bigger_title {
  font-size: 68px;
  line-height: 68px;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  margin: 0 0 10px;
}
hr {
  height: 2px;
  width: 100%;
  background-color: #dedcdc;
  border-radius: 5px;
  margin: 0;
}
page {
  position: relative;
  display: block;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  padding: 45px 50px;
  width: 816px;
  height: 1056px;
  margin: 0 auto;
}
.sub_title {
  font-size: 20px;
}
/* pdf 5 */
.pdf5 hr {
  width: 75%;
}
.float-right {
  float: right;
}
.sold_count {
  padding: 20px 0 25px;
}
.inner_main_title {
  line-height: 40px;
}
.mt-150 {
  margin-top: 150px;
}
.mt-80 {
  margin-top: 80px;
}
.number_round {
  background-color: #b9443d;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 30px 0;
  font-size: 68px;
  color: #fff;
  line-height: 130px;
  text-align: center;
  font-family: 'Crimson Text', serif;
}
.location_text {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 38px;
}
.img_view {
  width: 100%;
  max-width: 340px;
  height: 360px;
  object-fit: cover;
  margin: 0 auto 40px;
  display: block;
  object-position: 31%;
}
.big_hr {
  height: 3px;
  background-color: #0f2a4d;
  border-radius: 6px;
  width: 340px;
  margin: 30px auto;
}

/* pdf 14 & pdf 15 */
.pdf14 ul.f14 {
  margin-top: 35px;
}
.pdf14 .d-flex,
.pdf15 .d-flex,
.pdf16 .d-flex,
.pdf17 .d-flex,
.pdf2 .d-flex,
.pdf12 .d-flex,
.pdf13 .d-flex,
.buyerpdf3 .d-flex,
.buyerpdf12 .d-flex,
.buyerpdf14 .d-flex,
.buyerpdf15 .d-flex,
.buyerpdf16 .d-flex {
  margin-left: -20px;
  margin-right: -20px;
}
.pdf14 .col-50,
.pdf15 .col-50,
.pdf16 .col-50,
.pdf17 .col-50,
.pdf2 .col-60,
.pdf2 .col-40,
.pdf2 .col-12,
.pdf2 .col-50,
.pdf12 .col-50,
.pdf13 .col-50,
.buyerpdf3 .col-50,
.buyerpdf12 .col-50,
.buyerpdf14 .col-50,
.buyerpdf15 .col-50,
.buyerpdf16 .col-50,
.buyerpdf16 .col-12 {
  padding: 0 20px;
}
.pdf14 .col-12,
.pdf15 .col-12 {
  padding: 0 20px;
}
.pdf14 .w100 {
  height: auto;
}
.crimson {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  margin-bottom: 10px;
}
.pdf15 .crimson {
  margin-top: 0;
}
.fb_icon {
  width: 60px;
}
.insta_icon {
  margin-bottom: -10px;
  width: 75px;
  margin-left: -8px;
}
.we_reach {
  width: 100%;
  height: 615px;
  position: relative;
}
.we_reach img {
  height: 100%;
  object-fit: cover;
}
.we_reach:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 32, 80, 0.81) 65%
  );
}
.we_reach:after {
  content: '';
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  position: absolute;
  top: 25px;
  left: 25px;
  border: 1px solid #fff;
}
.wifi {
  width: 80px;
  margin-bottom: 10px;
}
.caption {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
}
.caption h3 {
  font-size: 42px;
  font-family: 'Crimson Text', serif;
  margin: 0;
}
.caption h5 {
  margin: 10px 0;
}
.w100 {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
/* pdf 20 */

.signature {
  width: 200px;
  text-align: center;
  position: relative;
}
.profile_img {
  width: 110px;
  border-radius: 50%;
  height: 110px;
  object-fit: cover;
  object-position: top;
}
.profile_name {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  margin: 0;
}
.profile_title {
  opacity: 0.6;
  font-size: 14px;
  margin-bottom: 10px;
}
.tel_number {
  display: block;
  color: #000;
  font-family: 'Crimson Text', serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
}
.tel_number span {
  opacity: 0.6;
}
.contact_info {
  opacity: 0.6;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 12px;
}
.first_line {
  font-family: 'Crimson Text', serif;
  font-size: 32px;
}
.address {
  padding: 20px 0 20px 70px;
  color: #0d294b;
}
.address a {
  color: #0d294b;
  text-decoration: none;
}
.visit_us {
  margin-top: 80px;
  font-size: 16px;
}
.logo_here {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  max-width: 150px;
  height: auto;
}
.footer {
  background: #0d294b;
  padding: 40px 50px;
  color: #fff;
}
.copy_right_text {
  font-size: 12px;
}
.logo img {
  width: 120px;
  height: auto;
}
.logo {
  width: 30%;
}
.copy_right_text {
  font-size: 8px;
  text-align: justify;
  width: 65%;
  margin-top: 15px;
  float: right;
}
.pdf20 .bordered_img {
  height: 50px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  display: block;
  position: absolute;
  right: -73%;
  top: 41%;
  width: 130%;
}
.pdf20 {
  padding: 0;
}
.pdf20 > .content {
  padding: 35px 30px;
  position: relative;
}
/* pdf18 */
.table_title {
  font-size: 23px;
  font-family: 'Crimson Text', serif;
  margin: 0 0 10px;
}
.pdf18 table,
.pdf7 table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 25px;
}
.pdf18 tr:first-child {
  background: #e1e0df;
  padding: 10px 0;
}
.pdf18 table td:first-child {
  text-align: left;
  width: 15%;
}
.pdf18 table tr:first-child td {
  font-weight: 400;
}
.pdf18 table td,
.pdf7 table td {
  border: 0;
  padding: 8px;
  font-weight: 600;
  vertical-align: top;
}
.pdf18 table td span {
  display: block;
  margin-top: 15px;
}
ul.home_list {
  margin: 60px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.home_list li img {
  width: 90px;
}
/* pdf16 */
.pdf16 {
  background: url(https://i.ibb.co/1zyx7F9/LeftIMG.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}
.content_area {
  width: 90%;
}
.w80 {
  width: 80%;
}
.icons {
  width: 130px;
  margin: 0 auto;
  display: block;
}
.msg_box {
  position: relative;
  padding: 16px;
  border-radius: 15px;
  border: 1px solid #d98771;
  margin-top: -15px;
}
.msg_box:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 120px;
  background: #d97871;
  left: -120px;
  top: 32px;
}
.msg_box:after {
  content: '';
  position: absolute;
  left: -165px;
  width: 30px;
  height: 30px;
  border: 1px solid #d98771;
  border-radius: 0;
  top: 17px;
  border-radius: 50%;
}
.msg_box p {
  margin-bottom: 0;
  margin-top: 5px;
  font-style: italic;
  font-size: 14px;
}
/* pdf17 */
.pdf17 {
  background: url(https://i.ibb.co/ssc1hnK/RightIMG.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}
.pdf17 .msg_box:before {
  width: 80px;
  left: -80px;
}
.pdf17 .msg_box:after {
  left: -130px;
}
.pdf17 .icons {
  width: 100px;
}
.pdf17 .table_title {
  margin: 30px 0 0;
}
.success_text {
  font-size: 20px;
}
/* pdf1 */
.pdf1 {
  padding: 0;
}
.pdf1 .header {
  margin: 0 auto;
  height: 16rem;
  padding: 55px 50px 40px;
}
.header > * {
  float: left;
}
.pdf1 .header img:nth-child(1) {
  width: 170px;
  margin-right: 30px;
}
.pdf1 .header img:nth-child(2) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  margin: 60px -3rem;
  width: 10rem;
}
.pdf1 .header .text {
  width: 27rem;
  color: #0d294b;
  margin-left: 20px;
}
.address_box {
  padding: 25px;
  text-align: center;
  border: 2px solid #0d294b;
  margin: 20px 25px 25px;
  color: #0d294b;
  font-size: 20px;
}
.address_box b {
  font-family: 'Crimson Text', serif;
  display: block;
  font-size: 28px;
}
.pdf1 .header h1 {
  font-size: 24px;
  margin-bottom: 3rem;
  margin-top: 0;
}
.pdf1 .header p:nth-child(2) {
  font-weight: 600;
  font-size: 34px;
  font-family: 'Crimson Text', serif;
  margin: 0;
}
.pdf1 .header p:nth-child(3) {
  margin-top: -0.5rem;
  font-size: 22px;
  margin-bottom: 0;
}
.d-block {
  width: 100%;
  height: auto;
}
.horizontal_sign.signature {
  width: 500px;
  text-align: left;
  position: relative;
}
.horizontal_sign.signature > * {
  float: left;
}
.horizontal_sign > img {
  margin-right: 30px;
  margin-top: 14px;
}
.horizontal_sign .tel_number,
.horizontal_sign .contact_info {
  color: #fff;
}
.signature + .logo {
  width: auto;
  flex: initial;
  position: absolute;
  right: 55px;
}
.signature + .logo img {
  width: 160px;
}
.pdf1 .footer {
  margin-top: -5px;
}
/* pdf2 */
.pdf2 {
  padding: 30px 50px;
}

.pdf2 .text-justify,
.pdf2 .feedback p {
  opacity: 0.6;
}
.pdf2 .profile_pic {
  height: 230px;
  object-fit: cover;
  object-position: top;
}
.vertical_sign {
  text-align: left;
  padding-left: 0 !important;
}
.vertical_sign > img {
  margin-left: -18px;
  width: 117%;
  max-width: 104% !important;
}
.vertical_sign .profile_name {
  font-size: 30px;
  line-height: 34px;
}
.vertical_sign .profile_title {
  opacity: 1;
  font-size: 14px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 600;
  margin: 5px 0;
}
.vertical_sign .tel_number {
  font-size: 18px;
  line-height: 24px;
}
.vertical_sign .contact_info {
  font-size: 14px;
}
.mt-30 {
  margin-top: 30px;
}
.text-justify {
  text-align: justify;
}
.feedback {
  padding-left: 50px;
  position: relative;
  text-align: justify;
  padding-right: 0;
  margin-bottom: 40px;
  font-size: 16px;
}
.feedback p {
  margin-bottom: 30px;
}
.feedback:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: url(https://i.ibb.co/qYygY6q/qoute.png) no-repeat;
  width: 30px;
  height: 24px;
  background-size: contain;
}
.username {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}
.rating {
  float: right;
  margin-top: 3px;
}
/* pdf3 */
.pdf3 {
  padding: 0;
}
.pdf3:before {
  content: '';
  position: absolute;
  background: rgba(8, 33, 71, 0.801);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pdf3 img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: 36%;
}
/* pdf4 */
/*.pdf4 {
  padding: 0;
  background: linear-gradient(rgba(8, 33, 71, 0.801), rgba(8, 33, 71, 0.801)),
    url(https://i.ibb.co/LpLH6Yp/joel-vodell-8-Ogfqvw15-Rg-unsplash.jpg);
  background-size: cover;
  background-position: center;
}*/

.pdf4 {
  padding: 0;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(8, 33, 71, 0.801)),
      to(rgba(8, 33, 71, 0.801))
    ),
    url(/assets/reports/english/seller/images/4/joel-vodell-8-Ogfqvw15-Rg-unsplash.jpg);
  background: -o-linear-gradient(rgba(8, 33, 71, 0.801), rgba(8, 33, 71, 0.801)),
    url(/assets/reports/english/seller/images/4/joel-vodell-8-Ogfqvw15-Rg-unsplash.jpg);
  background: linear-gradient(rgba(8, 33, 71, 0.801), rgba(8, 33, 71, 0.801)),
    url(/assets/reports/english/seller/images/4/joel-vodell-8-Ogfqvw15-Rg-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.pdf4 h1 {
  font-family: 'Crimson Text', serif;
  font-weight: lighter;
  padding: 4rem 0;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
}
.pdf4 .whitebox {
  background-color: white;
  position: relative;
  max-width: 580px;
  margin: 0 auto;
  padding: 70px 70px 90px;
  text-align: center;
}
.pdf4 .whitebox h2 {
  font-family: 'Crimson Text', serif;
  font-size: 2rem;
  margin: 0;
}
.whitebox p {
  font-size: 20px;
  text-align: justify;
  text-align-last: center;
  line-height: 29px;
}
.white_house {
  width: 75%;
  margin: -130px auto -230px;
  z-index: 99;
  position: relative !important;
  display: block;
}
/* pdf6 */
/*.pdf6 {
  padding: 0 0 100px;
  background: linear-gradient(rgba(8, 33, 71, 0.801), rgba(8, 33, 71, 0.801)),
    url(/assets/reports/english/seller/images/6/chuttersnap-u-Zcl28p3m4-unsplash.jpg);
  background-size: cover;
  background-position: center;
}*/
.pdf6 {
  padding: 0 0 100px;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(8, 33, 71, 0.801)),
      to(rgba(8, 33, 71, 0.801))
    ),
    url(/assets/reports/english/seller/images/6/chuttersnap-u-Zcl28p3m4-unsplash.jpg);
  background: -o-linear-gradient(rgba(8, 33, 71, 0.801), rgba(8, 33, 71, 0.801)),
    url(/assets/reports/english/seller/images/6/chuttersnap-u-Zcl28p3m4-unsplash.jpg);
  background: linear-gradient(rgba(8, 33, 71, 0.801), rgba(8, 33, 71, 0.801)),
    url(/assets/reports/english/seller/images/6/chuttersnap-u-Zcl28p3m4-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.map_content {
  padding: 45px 50px;
  color: #fff;
  width: 76%;
  text-align: justify;
}
.map_image {
  height: 400px;
}
.pricing_img {
  height: 300px;
}
.map_content h2 {
  font-family: 'Crimson Text', serif;
  font-size: 34px;
  margin: 0 0 25px;
}
.map_content p {
  font-size: 20px;
  margin: 0 0 30px;
  line-height: 30px;
}
.pdf7 tr:nth-of-type(even) {
  background: #e1e0df;
  padding: 10px 0;
}
.pdf7 table {
  text-align: left;
}
.pdf7 table td {
  font-weight: normal;
  padding: 7px 15px;
  font-size: 13px;
}
/* pdf8 */

.pdf8 table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.pdf8 table th:first-child,
.pdf8 table td:first-child {
  width: 40%;
}
.pdf8 table th,
.pdf8 table tfoot td {
  font-family: 'Crimson Text', serif;
  font-weight: normal;
  text-align: left;
  font-size: 20px;
}
.pdf8 table th,
.pdf8 table td {
  padding: 6px;
}
.pdf8 table td {
  font-size: 14px;
}
.pdf8 table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #d2cbcb;
}
.pdf8 table thead th {
  border-bottom: 3px solid #333;
}
.pdf8 table tfoot td {
  border-top: 3px solid #333;
}
.w90 {
  width: 90%;
}
.row-30 {
  margin-left: -30px;
  margin-right: -30px;
}
.row-30 [class*='col-'] {
  padding-left: 30px;
  padding-right: 30px;
}
/* pdf9 */

.pdf9 .address {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  padding: 0;
  color: #333;
  margin-bottom: 10px;
}
.house_pricing img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.pricing_buttons {
  padding: 0;
  margin: 15px 0 20px;
}
.pricing_buttons li {
  display: inline-block;
  vertical-align: middle;
}
.pricing_buttons li a {
  text-decoration: none;
  display: block;
  height: 40px;
  line-height: 38px;
  text-align: center;
  margin-right: 3px;
}
.btn_sale {
  background: #0d294b;
  color: #fff;
  width: 130px;
}
.pricing_buttons li a.btn_price {
  background: #fff;
  color: #d97972;
  border: 2px solid;
  width: 160px;
  line-height: 41px;
}
.pdf9 table {
  width: 100%;
  border-collapse: collapse;
}
.pdf9 table td:first-child {
  width: 40%;
}
.pdf9 table td {
  font-size: 14px;
  padding: 6px;
}
.pdf9 table tr:nth-of-type(odd) {
  background: #e1e0df;
}
/* pdf11 */
.pdf11 {
  padding: 0;
}
.pdf11 .map_content {
  color: #333;
  width: 100%;
  padding-bottom: 30px;
}
.pdf11 .map_content p {
  font-size: 18px;
  margin: 40px 0 6rem;
  line-height: 25px;
  text-align: justify;
}
/*.pdf11 .stats {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  font-family: "Crimson Text", serif;
  text-align: center;
  padding: 0;
  margin: 0 0 50px;
}*/

.pdf11 .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Crimson Text', serif;
  text-align: center;
  padding: 0;
  margin: 0 0 50px;
}

ul.stats li {
  width: 25%;
  font-size: 22px;
  position: relative;
}
ul.stats li:not(:last-child):after {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  right: 0;
  background: #333;
  top: 0;
}
.pdf11 .stats span {
  display: block;
  font-weight: 600;
  font-size: 40px;
  line-height: 42px;
  font-family: 'Open Sans', sans-serif;
}
/* pdf12 */
.pdf12 .steps h4,
.pdf13 .steps h4 {
  font-family: 'Crimson Text', serif;
  font-size: 26px;
  text-transform: capitalize;
  margin: 0;
}
.pdf12 .steps p,
.pdf13 .steps p {
  margin-bottom: 35px;
  width: 90%;
  margin-top: 0;
}
/* pdf13 */
.avg_text {
  width: 60%;
}
.grey-chart {
  height: 300px;
}
.avg_block {
  padding: 0 30px;
  position: relative;
}
/*.avg_block span {
  position: absolute;
  left: 0;
  writing-mode: vertical-lr;
  font-size: 14px;
  display: block;
  top: 50%;
  transform: translate(0, -50%) rotate(180deg);
  height: 100%;
  text-align: center;
}*/
.avg_block span {
  position: absolute;
  left: 0;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  font-size: 14px;
  display: block;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(180deg);
  -ms-transform: translate(0, -50%) rotate(180deg);
  transform: translate(0, -50%) rotate(180deg);
  height: 100%;
  text-align: center;
}
.avg_block .number {
  background: #0d294b;
  color: #fff;
  width: 190px;
  height: 190px;
  text-align: center;
  line-height: 190px;
  font-size: 52px;
  font-weight: 600;
}
.pdf13 ul {
  padding: 0;
  list-style: none;
}
.pdf13 li {
  padding-left: 40px;
  position: relative;
  line-height: 30px;
  height: 30px;
  margin-bottom: 10px;
}
.pdf13 li:before {
  content: '';
  width: 30px;
  height: 30px;
  background: #b9443d;
  display: block;
  position: absolute;
  left: 0;
}
.pdf13 li:last-child:before {
  background: #0d294b;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mt-m-80 {
  margin-top: -80px;
}

/* CSS added by MB */
.value {
  position: absolute;
  top: 15px;
  left: 50%;
  margin: 0 0 0 -29px;
  width: 40px;
  text-align: center;
  display: block;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.price-range-both.value {
  width: 100px;
  margin: 0 0 0 -50px;
  top: 26px;
}

.price-range-both {
  display: none;
}
.ui-slider .ui-slider-handle {
  height: 13px;
  width: 13px;
  border-radius: 10px;
  background: #ffca22;
  border-color: #ffca22;
  top: -2px;
}

.ui-slider-horizontal .ui-slider-range {
  top: 2px !important;
  height: 65% !important;
  background: #ffca22 !important;
}

#slider {
  background: #e0e0e0;
  border: none;
  height: 11px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-slider-handle .ui-state-default .ui-corner-all {
  border: 1px solid #ffca22 !important;
  background: #ffca22 !important;
  font-weight: normal;
  color: #555555;
}
/* CSS added by MB */

/* Buyer's Report CSS */

/* buyerpdf1 */
.buyerpdf1 {
  padding: 0;
}
.buyerpdf1 .main_title {
  font-size: 45px;
  font-weight: 700;
  color: #102b4c;
  text-align: center;
  margin: 40px 0;
}
.buyerpdf1 .col-50 img {
  height: auto;
  width: 100%;
}
.address_offer {
  padding: 0 40px;
}
.address_offer li {
  list-style-type: none;
  color: #102b4c;
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
}
.address_offer li:last-child {
  float: right;
}
.address_offer li span {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  line-height: 18px;
}

/* buyerpdf2 */
.buyerpdf2 .whitebox {
  max-width: 440px;
  padding: 70px 47px 90px;
}

/* buyerpdf3 */

.buyerpdf3 {
  padding: 120px 50px;
}
.buyerpdf3 .img1 {
  width: 100%;
  height: 500px;
  margin-bottom: 40px;
}
.buyerpdf3 .img2 {
  margin-bottom: 40px;
}
.buyerpdf3 .last_img {
  object-position: -270px;
}
.buyerpdf3 .img3 {
  height: 218px;
}
/* buyerpdf6 */
.buyerpdf6 {
  padding-bottom: 0;
}
.buyerpdf6 .percentage {
  font-size: 90px;
  font-family: 'Crimson Text', serif;
  line-height: 50px;
  margin-bottom: 40px;
  color: #0d294b;
}
.mt-40 {
  margin-top: 40px !important;
}
.neighborhood_stats {
  padding: 100px 50px;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(8, 33, 71, 0.801)),
      to(rgba(8, 33, 71, 0.801))
    ),
    url(https://i.ibb.co/n6DCLVr/chuttersnap-u-Zcl28p3m4-unsplash.jpg);
  background: -o-linear-gradient(rgba(8, 33, 71, 0.801), rgba(8, 33, 71, 0.801)),
    url(https://i.ibb.co/n6DCLVr/chuttersnap-u-Zcl28p3m4-unsplash.jpg);
  background: linear-gradient(rgba(8, 33, 71, 0.801), rgba(8, 33, 71, 0.801)),
    url(https://i.ibb.co/n6DCLVr/chuttersnap-u-Zcl28p3m4-unsplash.jpg);
  background-size: cover;
  background-position: center;
  margin: 50px -50px 0;
}
.neighborhood_stats .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 18px 0;
}
.neighborhood_stats .stats li {
  font-size: 20px;
}
.neighborhood_stats ul.stats li:not(:last-child):after {
  content: none;
}
.neighborhood_stats ul.stats img {
  display: block;
  margin: 0 auto 20px;
  width: 60px;
}
/* buyerpdf7 */
.buyerpdf7 table td {
  padding: 6px 15px;
  font-size: 13px;
}
/* buyerpdf9 */

.buyerpdf9.pdf17 .msg_box:after {
  left: -108px;
}
.buyerpdf9.pdf17 .msg_box:before {
  width: 60px;
  left: -60px;
}
.buyerpdf9 .icons.mt-20 {
  margin-top: 20px;
}
/* buyerpdf10 */
.buyerpdf10 .table_title {
  margin-bottom: 5px;
}
.buyerpdf10 .table_title span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  float: right;
  font-size: 22px;
  margin-top: 5px;
}
.small_text {
  font-size: 14px;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 25px;
}
.principle_text {
  font-size: 30px;
  font-family: 'Crimson Text', serif;
  margin: 0 0 25px;
  line-height: 35px;
}
.loan_text {
  font-size: 20px;
  font-family: 'Crimson Text', serif;
  margin: 0 0 10px;
  line-height: 25px;
}
.buyerpdf10 p {
  font-size: 14px;
}
.blue_box {
  background-color: #0d294b;
  color: #fff;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 15px 10px 20px;
}
.blue_box .price {
  display: block;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
.d-flex.row-5 {
  margin-left: -5px;
  margin-right: -5px;
}
.d-flex.row-5 [class*='col-'] {
  padding-left: 5px;
  padding-right: 5px;
}
.breakdown_chart {
  height: 400px;
}
.breakdown_chart .height70 {
  height: 60%;
}
.breakdown_chart .height16 {
  height: 16%;
}
.breakdown_chart .height8 {
  height: 14%;
}
.breakdown_chart .height6 {
  height: 11%;
}
.breakdown_chart .chart_data {
  position: relative;
  padding-left: 65px;
}
.breakdown_chart .chart_data:before {
  content: '';
  width: 40px;
  height: 100%;
  position: absolute;
  left: 0;
}
.height70:before {
  background-color: #0d294b;
}
.height16:before {
  background-color: #122e4f;
}
.height8:before {
  background-color: #2d3d5c;
}
.height6:before {
  background-color: #73758c;
}
.breakdown_chart .chart_data .align_middle > * {
  display: inline-block;
}
.breakdown_chart .chart_data .percentage {
  width: 40%;
  font-size: 28px;
  font-family: 'Crimson Text', serif;
}
.breakdown_chart .chart_data .brakdown_text {
  width: 58%;
  font-size: 14px;
}
.align_middle {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 80%;
}
/* buyerpdf11 */
.monthly_installation {
  /* transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl; */
}
.monthly_installation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  margin: 0;
  padding: 0;
}
.monthly_installation ul li {
  background-color: #0d294b;
  height: 60px;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  width: 35px;
  line-height: 35px;
  border-top: 1px solid #fff;
}
.monthly_installation h5 {
  font-size: 22px;
  font-family: 'Crimson Text', serif;
  margin: 0 0 0 5px;
  text-align: center;
}
.position-relative {
  position: relative;
}
.installment_text {
  position: absolute;
  top: 1px;
  left: 64px;
  width: 78%;
}
.installment_text p {
  position: relative;
  padding-left: 40px;
  top: -24px;
  font-family: 'Crimson Text', serif;
}
.installment_text p:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  background-color: #0d294b;
  width: 35px;
  height: 2px;
}
.installment_text p.mt-80 {
  margin-top: 65px;
}
.installment_text p.negative25 {
  top: -28px;
}
/* buyerpdf13 */
.buyerpdf13 .table_title {
  font-size: 28px;
  line-height: 28px;
}
.buyerpdf13 .col-40 {
  width: 37% !important;
}
.buyerpdf13 .col-20 {
  width: 26% !important;
  border: 2px solid #d0837f;
  padding: 50px 15px 15px;
}
.buyerpdf13 ul {
  padding-left: 0;
  list-style: none;
}
.buyerpdf13 ul li {
  font-family: 'Crimson Text', serif;
  position: relative;
  padding: 24px 0;
  font-size: 21px;
}
.buyerpdf13 ul li:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background: #eaeae9;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
}
.buyerpdf13 ul li:last-child {
  padding-bottom: 0;
}
.buyerpdf13 .col-40 .sub_title {
  font-size: 18px;
}
.buyerpdf13 .blue_bar {
  background: #0d294b;
  height: 22px;
  float: left;
}
.buyerpdf13 .col-40:first-child .blue_bar {
  float: right;
}
.blue_bar.bar70 {
  width: 70px;
}
.blue_bar.bar90 {
  width: 90px;
}
.blue_bar.bar22 {
  width: 22px;
}
.blue_bar.bar120 {
  width: 110px;
}
.pr-15 {
  padding-right: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.buyerpdf13 .col-40:first-child p span:first-child {
  width: 110px;
  display: inline-block;
  text-align: right;
}
.buyerpdf13 .col-40:last-child p span:last-child {
  width: 110px;
  text-align: left;
  float: right;
}
.buyerpdf13 .col-40:last-child p:last-child span:last-child {
  float: left;
}
.buyerpdf13 .col-40:last-child p:after {
  content: '';
  clear: both;
  display: table;
}
/* buyerpdf14 */
.long_img {
  height: 462px;
  width: 100%;
  object-fit: cover;
}
/* buyerpdf15 */
.check_box {
  background: #0d294b;
  padding: 30px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 40px;
  min-height: 330px;
}
.check_box .f14 {
  font-size: 12px;
}
.check_box ul.f14 li:before {
  background: #ffffff;
}
input[type='checkbox'] {
  display: none;
}
.checkbox label {
  position: relative;
  font-size: 26px;
  font-family: 'Crimson Text', serif;
  display: block;
  cursor: pointer;
}
.checkbox label:after {
  content: '';
  width: 50px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #fff;
  display: block;
  position: absolute;
  right: 0;
  top: -7px;
}
.checkbox input:checked + label:after {
  background: url(https://i.ibb.co/MkZvML2/check.png) no-repeat;
  background-size: 24px;
  background-position: center;
}
/* buyerpdf16 */
.buyerpdf16 ol {
  padding-left: 18px;
}
.buyerpdf16 ol li {
  padding-left: 10px;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
}
.buyerpdf16 small {
  font-size: 8.5px;
  line-height: 10px;
  display: block;
}
.img18 {
  height: 600px;
  object-fit: cover;
}
.pdf20 .logo img {
  width: 105px;
  height: auto;
}
.pdf20 .footer {
  padding: 30px 50px;
}
