.navbar-default {
    background-color: transparent;
    border-color: transparent
}

section .section-content-bottom-alternate .email::before {
    font-size: 50px
}

a {
    text-decoration: none !important
}

li {
    list-style: none !important
}

.nav li {
    display: inline-block;
    margin-right: 15px
}

.nav .m {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    line-height: 26px
}

.mobile-nav {
    display: none
}

.mobile-nav span {
    color: #ffffff
}

.mobile-nav .mobile-nav-trigger {
    position: absolute;
    top: 0;
    right: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center
}

.mobile-nav ul {
    display: none;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    z-index: 4;
    font-family: Roboto
}

.mobile-nav .m {
    color: #202e51
}

@media only screen and (max-width: 640px) {
    .header {
        height: 47px;
        padding-top: 27px;
        padding-left: 30px
    }
    .nav {
        display: none
    }
    .mobile-nav {
        display: inline-block
    }
    .mobile-nav span {
        font-size: 22px
    }
    /* .mobile-nav .mobile-nav-trigger {
        height: 74px;
        width: 74px;
        background-image: url("http://www.xn--12cl2bdbn8kwa7a1a3m8cku.com/mobile-nav-medium-icon.png")
    } */
    .mobile-nav ul {
        top: 35px;
        /* padding-bottom: 16px;
		padding-top:16px; */
        z-index: 4;
        text-align: center;
        font-family: Roboto
    }
    .mobile-nav li {
        padding: 5px 0 10px;
        padding-right: 20px
    }
    .mobile-nav a {
        font-size: 20px;
        transition: all 1s
    }
    .mobile-nav a:hover {
        text-decoration: underline
    }
}

@media only screen and (max-width: 320px) {
    .header {
        height: 27px;
        padding-top: 10px;
        padding-left: 20px
    }
    .nav {
        display: none
    }
    .mobile-nav {
        display: block
    }
    .mobile-nav span {
        font-size: 12px
    }
    .mobile-nav .mobile-nav-trigger {
        height: 30px;
        width: 40px;
        background-image: url("http://www.xn--12cl2bdbn8kwa7a1a3m8cku.com/mobile-nav-icon.png");
        top: -13px;
    }
    .mobile-nav ul {
        top: 15px;
        padding-bottom: 10px;
        z-index: 4;
        font-family: Roboto
    }
    .mobile-nav li {
        padding: 20px 0 10px;
        padding-right: 20px
    }
    .mobile-nav a {
        font-size: 12px
    }
}

@media only screen and (max-width: 480px) {
    .navbar-default .navbar-toggle {
        border-color: #ddd
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #888
    }
    .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 4px
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent
    }
    body {
        overflow-x: hidden
    }
    .menu-list-mob {
        display: -ms-inline-grid;
        display: inline-grid;
        display: none
    }
    .mobile-mockup {
        display: none
    }
    .header_content h1 {
        font-size: 18px !important
    }
    .navbar-header {
        border: none
    }
    header .header_content h1 {
        line-height: 25px !important
    }
    header .header_content {
        position: absolute;
        width: 76% !important
    }
    header .header_content p {
        padding-left: 3px;
        font-size: 18px !important
    }
    header .header_content .button {
        margin-left: 0px
    }
    header .navigation_wrapper .menu {
        position: absolute;
        width: 100%;
        z-index: 4
    }
    .navbar-wrapper .menu-list-mob {
        margin-top: 190px !important;
        background: #908576;
        z-index: 2000 !important;
        border: 2px solid #fff;
        width: 100%;
        text-align: center
    }
  }

  @media only screen and (max-width: 768px) {
    .mobile-mockup {
        display: none
    }
    header .navigation_wrapper .menu {
        position: absolute;
        top: 110% !important
    }
    .lower-footer p.font {
        text-align: center;
        margin-top: 10px
    }
    .lower-footer .social-links {
        padding-left: 45%;
        padding-right: 45%;
        padding-top: 10px
    }
    .lower-footer .center .fontc {
        text-align: center
    }
    .upper-footer .upper-footer-wrapper .md_agent h3 {
        text-align: center
    }
    .upper-footer .upper-footer-wrapper .md_agent p {
        text-align: center
    }
    .report,
    .data,
    .pricing,
    .email {
        text-align: center
    }
    .section {
        padding: 40px 0px
    }
    .section .section-content-bottom-alternate h3 {
        text-align: center
    }
    .section .section-content-bottom p {
        text-align: center
    }
    .section .section-content-bottom-alternate .email::before {
        position: static;
        top: 50%;
        left: hidden
    }
    .section .include-bottom-content .theme {
        height: auto
    }
    .section .include-bottom-content .theme .inner-content {
        position: static;
        text-align: left;
        max-width: 450px
    }
    .section .include-bottom-content .theme img {
        padding: 50px;
        position: static;
        -ms-transform: none;
        transform: none
    }
    .section .include-bottom-content .theme .col-md-6,
    .section .section .include-bottom-content .theme .col-md-4 {
        height: auto
    }
    .section .include-bottom-content .theme .inner-content {
        position: none;
        top: none;
        left: none;
        -ms-transform: none;
        transform: none;
        text-align: none;
        max-width: none
    }
    .section .include-bottom-content .theme .inner-content h3 {
        text-align: center
    }
    .section .include-bottom-content .theme .inner-content p {
        text-align: center;
        display: table-row
    }
    .section .section-title h1 {
        padding: 0px 1px;
        text-align: center
    }
    .section .section-content {
        padding: 20px 4px
    }
    .section .include-bottom-content .theme .inner-content .button {
        display: block;
        margin-left: 70px;
        margin-right: 70px;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 10px
    }
    .section .section-content-bottom p {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 5px;
        text-align: center
    }
    .section .include-bottom-content .theme .img-size {
        width: 85%
    }
    .section .section-content-bottom-simple .col-md-4:nth-child(3) .blue-content {
        border-bottom: none
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    header .navigation_wrapper .menu {
        top: 88% !important
    }
    header .mobile-mockup {
        display: none
    }
    .report,
    .data,
    .pricing,
    .email {
        text-align: center
    }
    .section {
        padding: 40px 0px
    }
    .section .section-content-bottom-alternate h3 {
        text-align: center
    }
    .section .section-content-bottom p {
        text-align: center
    }
    .section .section-content-bottom-alternate .email::before {
        position: static;
        top: 50%;
        left: hidden
    }
    .section .include-bottom-content .theme {
        height: auto
    }
    .section .include-bottom-content .theme .inner-content {
        position: static;
        text-align: left;
        max-width: 450px
    }
    .section .include-bottom-content .theme .col-md-6,
    .section .section .include-bottom-content .theme .col-md-4 {
        height: auto
    }
    .section .include-bottom-content .theme .inner-content {
        position: none;
        top: none;
        left: none;
        -ms-transform: none;
        transform: none;
        text-align: none;
        max-width: none
    }
    .section .include-bottom-content .theme .inner-content h3 {
        text-align: center
    }
    .section .include-bottom-content .theme img {
        padding: 50px;
        position: static;
        -ms-transform: none;
        transform: none
    }
    .section .include-bottom-content .theme .inner-content h3 {
        text-align: center
    }
    .section .include-bottom-content .theme .inner-content p {
        text-align: center;
        display: table-row
    }
    .section .section-title h1 {
        padding: 0px 1px;
        text-align: center
    }
    .section .section-content {
        padding: 20px 4px
    }
    .section .include-bottom-content .theme .inner-content .button {
        display: block;
        margin-left: 70px;
        margin-right: 70px;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 20px
    }
    .section .include-bottom-content .theme .img-size {
        width: 85%
    }
    .section .section-content-bottom-simple .col-md-4:nth-child(3) .blue-content {
        border-bottom: none
    }
    .upper-footer .upper-footer-wrapper .md_agent h3 {
        text-align: center
    }
    .upper-footer .upper-footer-wrapper .md_agent p {
        text-align: center
    }
    .lower-footer p.font {
        text-align: center;
        margin-top: 10px
    }
    .lower-footer .social-links {
        padding-left: 45%;
        padding-right: 45%;
        padding-top: 10px
    }
    .lower-footer .center .fontc {
        text-align: center
    }
}

.ctabutton {
	text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;
}

header {
    width: 100%;
    height: 100vh;
  /*  background-image: url("../images-2/home/header3.jpg"); */
    background-size: cover;
    background-position: 50% 50%;
    position: relative
}

header .navigation_wrapper {
    padding: 30px 50px;
    height: auto;
    position: relative
}

header .navigation_wrapper .menu {
    position: absolute;
    top: 50%;
    right: 50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

header .navigation_wrapper .menu li {
    float: left;
    position: relative;
    margin-right: 25px;
    font-family: Roboto;
    font-size: 16px;
    color: #fff
}

header .navigation_wrapper .menu li a {
    text-decoration: none;
    display: inline-block
}

header .navigation_wrapper .menu li a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    margin: auto
}

header .navigation_wrapper .menu li a:hover {
    color: #fff
}

header .navigation_wrapper .menu li a:hover:after {
    width: 100%;
    background: #fff
}

header .navigation_wrapper .menu li:last-child {
    margin-right: 0px
}

header .navigation_wrapper .menu li:last-child span {
    margin-left: 3px
}

header .navigation_wrapper .menu li:last-child span::before {
    content: "Ó®Å";
    speak: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: normal;
    font-weight: normal;
    font-family: "Symbols";
    font-size: 7px;
    color: #fff
}

header .header_content {
    position: absolute;
    top: 50%;
    left: 50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%
}

header .header_content h1 {
    font-size: 70px;
    color: #fff;
    font-family: GlacialIndifferenceBold;
    line-height: 65px;
    padding-bottom: 0px;
    margin-bottom: 10px
}

header .header_content h3 {
    font-size: 24px;
    color: #fff;
    font-family: GlacialIndifferenceBold;
    line-height: 65px;
    padding-bottom: 0px;
    margin-bottom: 10px;

}

header .header_content p {
    font-family: Roboto;
    color: #fff;
    font-size: 22px
}

header .header_content .button {
    margin-top: 30px
}

header .mobile-mockup {
    width: 558px;
    height: 650px;
    position: absolute;
    right: 0px;
    bottom: -100px;
    background-image: url("../images/home/header_report.png");
    background-size: cover;
    background-position: 50% 50%
}